:root {
  --color-accent: #3234af;
  --color-accent-strong: #5d5fed;
  --color-positive: #37a210;
  --color-positive-strong: #38e519;
  --color-negative: #450505;
  --color-negative-strong: #b11010;

  --color-background: #0f172a;
  --color-background-strong: #1e293b;
  --color-background-control: #1e293b;
  --color-background-control-strong: #334155;
  --color-background-overlay: #0f172acc;

  --color-text: #f1f5f9;
  --color-text-light: #94a3b8;

  --color-border: #64748b;
  --color-border-strong: #94a3b8;

  --gradient-background: linear-gradient(
    135deg,
    var(--color-background-strong) 0%,
    var(--color-background) 100%
  );
  --gradient-background-control: linear-gradient(
    135deg,
    var(--color-background-control) 0%,
    var(--color-background-control-strong) 100%
  );

  --spacing-xs: 0.125rem;
  --spacing-sm: 0.25rem;
  --spacing-md: 0.5rem;
  --spacing-lg: 0.75rem;
  --spacing-xl: 1rem;
  --spacing-2xl: 1.5rem;

  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-full: 10rem;

  --transition-fast: 150ms ease-in-out;
  --transition-normal: 250ms ease-in-out;
}
